@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo geral do corpo com fundo gradiente */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo do formulário */
form {
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

/* Estilo dos rótulos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

/* Estilo dos inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo das mensagens de erro */
p {
  color: red;
  margin: 0 0 10px;
  font-size: 0.875em;
}

/* Estilo do botão de login */
button {
  width: 100%;
  padding: 10px;
  background: #252571;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: #307ce0;
}
